{% extends "base.html" %}
{% load static %}
{% block title %}Asociados APROSS - Contacto{% endblock %}
{% block page-breadcrumb %}Contacto{% endblock %}
{% block page-title %}Contactanos{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Un t&iacute;tulo cualquiera</h6>
            </div>
            <div class="card-body px-4 pt-0 pb-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id justo orci. Mauris mattis tellus at accumsan tincidunt. Nulla congue, libero eu ornare auctor, felis felis scelerisque ex, a fermentum tellus purus id mi. Ut consequat eleifend velit at ornare. Nulla eu enim id elit auctor tincidunt. Morbi nec nibh vel dolor efficitur varius. Donec a tellus id nulla vehicula finibus. Nunc sed rhoncus lacus, eu varius arcu. Cras bibendum libero at molestie semper.</p>
                <p>Integer ac faucibus velit. Nullam facilisis vulputate laoreet. Fusce quis blandit lacus. Fusce rutrum convallis elit, non laoreet ipsum aliquam in. Quisque id dui quis nisi tristique maximus. Fusce posuere est sed efficitur imperdiet. Pellentesque malesuada ac nisl ut elementum. Phasellus eget lectus fermentum, congue nibh at, pellentesque leo. Cras tortor leo, sagittis non interdum in, commodo id urna. Donec cursus urna sed magna venenatis aliquam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras venenatis sollicitudin ex vitae cursus.</p>                    
                <p>Donec placerat venenatis ex ut maximus. Phasellus et ultricies nulla, dictum sollicitudin orci. Fusce eget ex metus. Maecenas sit amet lectus id est gravida tristique. Etiam rutrum tempor metus. Proin convallis nulla elementum nisl dignissim blandit. Pellentesque ut ipsum mi. Nulla vel congue tellus, placerat facilisis metus. Donec eu ligula a turpis ornare rutrum. Aliquam erat volutpat.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}